{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:node/recommended"
  ],
  "plugins": ["prettier", "node"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    // Additional rules or overrides can be added here
  },
  "env": {
    "node": true
  },
  "globals": {
    "test": "readonly",
    "expect": "readonly"
  }
}
